	#contenedor{
		width: 1300px;
		margin: auto;
		margin-top: 20px;
	}

	header{background-color: #9F0D00;
			height: 80px;}
	
	header img{ width: 400px;
				height: 100px;
				margin-top: -20px;
				float: left;  }
	#redes{float: right;
			line-height: 200px;}

	#redes img{height: 50px;
				width: 50px;
				vertical-align: center;
				border-radius:10px;
				float:left;
				margin: 8px;
				margin-top:15px;}
	
	nav{background-color:#9F0D00;
		height: 60px;}

	nav li{
		list-style:none;
		display: inline-block;
		padding: 20px 0px;
		float: left;}

	nav a{ color: #fff;
		font-size: 20px;
		font-family:verdana;
		text-decoration: none;
		padding: 20px;}
	nav a:hover {
		background-color: #000;
	}
	#header {
		margin:0% 0% 0% 0%;
		width: 100%;
		font-family: verdana;}

	#nav{
		width: 1200px; 
		margin:0% 0% 0% 25%;}

	ul, ol {list-style: none;}

	.nav{width: 500px;}
	.nav > li {float: left;}
	.nav li a {
		background-color: #000;
		color: #fff;
		text-decoration: none;
		padding: 10px 12px;
		display: block;
	}
	.nav li a:hover {background-color: #457d77;}

	.nav li ul {
		display: none;
		position: absolute;
		min-width: 140px;
	}
	.nav li:hover > ul {display: block;}
	.nav li ul li {position: relative;}
	.nav li ul li ul{left: 120px; top: 0px;}

	h1{
		font-size: 100px;
		color:#9F0D00;
		font-weight: bold;
		font-family: diploma;
		text-align: center;
	}

	.title{
		display: center;
		margin:0% 0% 0% 0%;}

	h2{
		font-size: 40px;
		color: #FFF; 
		font-weight: normal;
		font-family: Trajan Pro;
		text-align: center;
	}

	.estilos{
		display:center;
		margin:0% 0% 0% 0%;}

	img{
		margin:0% 0% 0% 5%;
		width:90%;  
	}
	h3{
		font-size: 20px;
		color: #FFF; 
		font-weight: normal;
		font-family: Verdana;
		text-align: justify;
	}

	#footer {
		padding: 20px;
    	color: white;
    	background-color: #9F0D00;
    	text-align: center;
	}
